<div class="container allResults">
    <div class="row">

  {{#each users}}
    <div class="col">
      <a href="/profile/{{this.username}}">
        <div id="results">
          <div class="searchResults">
            <div class="card">
              <img class="card-img-top" src={{this.avatar}} alt={{this.name}}>
              <div class="card-body">
                <h4 class="card-title">{{this.name}}</h4>
              </a>

                <p class="card-text"><span>@</span>{{this.username}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  {{/each}}

    </div>
</div>
<script type="text/javascript" src="/js/dropdown.js"></script>
