<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet " href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css " integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M " crossorigin="anonymous ">
  <script src="https://use.fontawesome.com/5c5b49caef.js"></script>
  <link rel="stylesheet " href="./../../../css/bootstrap-social.css ">
  <link rel='stylesheet' href='{{cssPath}}' />
  <link rel='stylesheet' href='{{cssPath2}}' />
  <link rel='stylesheet' href='{{cssPath3}}' />
  <link rel='stylesheet' href='{{cssPath4}}' />
  <link rel='stylesheet' href='{{cssPath5}}' />


</head>
